{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "prettier",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": ["react", "prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "printWidth": 100,
                "tabWidth": 2,
                "useTabs": false,
                "semi": true,
                "singleQuote": true,
                "bracketSpacing": true,
                "parser": "flow"
            }
        ]
    }
}
